<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- Actions -->

	<bean id="ActionSensor" name="ActionSensor" class="org.penguindreams.greenstation.action.SensorAction" />

	<!-- Format -->
	
	<bean id="FormatGO.XML" class="org.penguindreams.greenstation.format.GreenOvenXMLFormat" />

    <!-- logging -->
    <bean name="logger" class="org.penguindreams.greenstation.spring.LoggingInterceptor" />
    <bean id="loggingAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
      <property name="advice" ref="logger" />
      <property name="pattern" value="org.penguindreams.*" />
    </bean>
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />


	<!-- Database configuration
	<bean id="mainDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
	   <property name="driverClass" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
	   <property name="jdbcUrl" value="jdbc:sqlserver://dbserver.example.edu:5555;databaseName=GreenOven" />
	   <property name="username" value=""/>
	   <property name="password" value=""/>
	   <property name="idleConnectionTestPeriod" value="60"/>
	   <property name="idleMaxAge" value="240"/>
	   <property name="maxConnectionsPerPartition" value="30"/>
	   <property name="minConnectionsPerPartition" value="10"/>
	   <property name="partitionCount" value="3"/>
	   <property name="acquireIncrement" value="5"/>
	   <property name="statementsCacheSize" value="100"/>
	   <property name="releaseHelperThreads" value="3"/>
	</bean>
 -->
</beans>